:root {
    --e-global-color-primary: #7814D7;
    --e-global-color-secundary: #46AAF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;

}


.bg-degrade {
    background: linear-gradient(180deg, var(--e-global-color-secundary) 20%, var(--e-global-color-primary));
    padding-top: 50%;
    padding-bottom: 50%;
}

.img-size-1 {
    width: 250px;
}

.input-size-1 {
    width: 300px;
    height: 45px;
    font-size: 19px;
    border-radius: 4px;
    border: 0px;
    padding-left: 5px;
}

.form-structure {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.btn {
    width:  180px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: #0069D9;
    border: 1px solid white;
    border-radius: 2px;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: #095fbb;
    border: 1px solid black;
}

.register-text {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}